{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Golang and Mysql CRUD app</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Golang and Mysql CRUD app</h1>   
{{ end }}